# watch_file ./nix/dev-shells/default.nix
# use flake ./nix
# watch_file ./nix/dev-shells/pixi.nix
# use flake ./nix#pixi --impure
watch_file ./nix/dev-shells/mujoco.nix
use flake ./nix#mujoco --impure
